.food-image-container {
    width: 100%;
    height: 300px;
    /* or aspect ratio */
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
    background-color: #eee;
}

.food-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.food-image-placeholder {
    width: 100%;
    height: 300px;
    background-color: #eee;
    border-radius: var(--border-radius);
    margin-bottom: 24px;
}